PrivateKey = "%DEPLOYER_PRIVATE_KEY%"

[L1]
WsURL = "wss://tc-node-auto.regtest.trustless.computer/ws"
RpcURL = "https://tc-node-auto.regtest.trustless.computer"
CDKValidiumAddress = "%CDK_VALIDIUM_ADDRESS%"
DataCommitteeAddress = "%DATA_COMMITTEE_ADDRESS%"
Timeout = "3m"
RetryPeriod = "5s"

[Log]
Environment = "development" # "production" or "development"
Level = "debug"
Outputs = ["stderr"]

[DB]
User = "committee_user"
Password = "committee_password"
Name = "committee_db"
Host = "cdk-validium-data-node-db"
Port = "5432"
EnableLog = false
MaxConns = 200

[RPC]
Host = "0.0.0.0"
Port = 8444
ReadTimeout = "60s"
WriteTimeout = "60s"
MaxRequestsPerIPAndSecond = 500
SequencerNodeURI = ""
EnableL2SuggestedGasPricePolling = false
	[RPC.WebSockets]
		Enabled = false
