{
    "realVerifier": false,
    "trustedSequencerURL": "http://cdk-validium-json-rpc:8123",
    "networkName": "%NETWORK_NAME%",
    "version": "0.0.1",
    "trustedSequencer": "",
    "chainID": %CHAIN_ID%,
    "trustedAggregator": "",
    "trustedAggregatorTimeout": 604799,
    "pendingStateTimeout": 604799,
    "forkID": 1,
    "admin": "",
    "cdkValidiumOwner": "",
    "timelockAddress": "",
    "minDelayTimelock": 3600,
    "salt": "0x0000000000000000000000000000000000000000000000000000000000000000",
    "initialCDKValidiumDeployerOwner": "",
    "maticTokenAddress": "",
    "cdkValidiumDeployerAddress": "",
    "deployerPvtKey": "",
    "funderPvtKey": "%FUNDER_PRIVATEKEY%",
    "l1RPC": "%L1_RPC%",
    "l1WS": "%L1_WS%",
    "maxFeePerGas": "",
    "maxPriorityFeePerGas": "",
    "multiplierGas": "",
    "setupEmptyCommittee": true,
    "committeeTimelock": false
}