{
    "realVerifier": false,
    "trustedSequencerURL": "http://cdk-validium-json-rpc:8123",
    "networkName": "cdk-validium",
    "version":"0.0.1",
    "trustedSequencer":"",
    "chainID": 1001,
    "trustedAggregator":"",
    "trustedAggregatorTimeout": 604799,
    "pendingStateTimeout": 604799,
    "forkID": 1,
    "admin":"",
    "cdkValidiumOwner": "",
    "timelockAddress": "",
    "minDelayTimelock": 3600,
    "salt": "0x0000000000000000000000000000000000000000000000000000000000000000",
    "initialCDKValidiumDeployerOwner" :"",
    "maticTokenAddress":"",
    "cdkValidiumDeployerAddress":"",
    "deployerPvtKey": "",
    "funderPvtKey": "",
    "maxFeePerGas":"",
    "maxPriorityFeePerGas":"",
    "multiplierGas": "",
    "setupEmptyCommittee": true,
    "committeeTimelock": false
}